<div class="d-flex h-75 justify-content-center align-items-center">
  <mat-card class="w-75">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ user.user_id ? 'Update' : 'Create'}} User</mat-card-title>
      <mat-card-subtitle>{{ user.user_id ? 'Update existing user information' : 'Add a new user to the database'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex justify-content-center align-items-center">
        <div class="w-75">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="user-form">
            <mat-form-field class="w-100">
              <mat-label>User Name</mat-label>
              <input
                matInput
                placeholder="Unique user name"
                required
                value=""
                [(ngModel)]="user.user_name"
                name="user_name">
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First.."
                required
                [(ngModel)]="user.first_name"
                name="first_name">
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="Last.."
                required
                [(ngModel)]="user.last_name"
                name="last_name">
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Email Address</mat-label>
              <input
                matInput
                placeholder="Email.."
                required
                email
                [(ngModel)]="user.email"
                name="email">
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Department</mat-label>
              <input
                matInput
                placeholder="Department.."
                required
                [(ngModel)]="user.department"
                name="department">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select
                [(ngModel)]="user.user_status"
                name="user_status"
                required>
                <mat-option [value]="'A'">
                  Active
                </mat-option>
                <mat-option [value]="'I'">
                  Inactive
                </mat-option>
                <mat-option [value]="'T'">
                  Terminated
                </mat-option>
              </mat-select>
            </mat-form-field>

            <input hidden ngModel name="user_id"/>

          </form>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex w-100 mx-5 justify-content-around">
        <div class="w-75" style="color: red;">{{ errorMessage }}</div>
        <div>
          <button
            mat-button
            (click)="f.onSubmit($event)">
           <!-- [disabled]="!f.valid || !f.touched" -->

            SUBMIT
          </button>
          <button
            mat-button
            (click)="clearForm()">
            CLEAR
          </button>
        </div>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar [mode]="progressBar"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>